<h1 style="text-align:center; font-size:160%; font-family:verdana;color:#F44A79;"><em>Date 22-06-2021</em></h1>

<h1 style="text-align:center; font-size:360%; font-family:verdana;color:#4A3E76;"><em>Advance Indexing and Slicing</em></h1>

In [1]:
import pandas as pd

In [2]:
summer_olmypic_data_csv=pd.read_csv('summer_data.csv')
summer_olmypic_data_csv

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [3]:
rows=list(range(5,9))+list(range(20012,20019))+[5698,31021]
rows

[5, 6, 7, 8, 20012, 20013, 20014, 20015, 20016, 20017, 20018, 5698, 31021]

In [4]:
summer_olmypic_data_csv.iloc[rows]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
20012,1992,Barcelona,Athletics,Athletics,"MOLLER, Lorraine Mary",NZL,Women,Marathon,Bronze
20013,1992,Barcelona,Athletics,Athletics,"YEGOROVA, Valentina",EUN,Women,Marathon,Gold
20014,1992,Barcelona,Athletics,Athletics,"ARIMORI, Yuko",JPN,Women,Marathon,Silver
20015,1992,Barcelona,Athletics,Athletics,"GARCIA CHICO, Javier",ESP,Men,Pole Vault,Bronze
20016,1992,Barcelona,Athletics,Athletics,"TARASOV, Maksim",EUN,Men,Pole Vault,Gold
20017,1992,Barcelona,Athletics,Athletics,"TRANDENKOV, Igor",EUN,Men,Pole Vault,Silver
20018,1992,Barcelona,Athletics,Athletics,"LYKHO, Viatcheslav",EUN,Men,Shot Put,Bronze
5698,1928,Amsterdam,Wrestling,Wrestling Gre-R,"MAUDR, Jindrich",TCH,Men,- 58KG (Bantamweight),Silver
31021,2012,London,Volleyball,Volleyball,"PEREIRA, Natalia",BRA,Women,Volleyball,Gold

In [5]:
summer_olmypic_data_csv#.columns[:3].to_list()+["Gender","Event"]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [6]:
summer_olmypic_data_csv.columns[:3]#.to_list()+["Gender","Event"]

Index(['Year', 'City', 'Sport'], dtype='object')

In [7]:
summer_olmypic_data_csv.columns[:3].to_list()#+["Gender","Event"]

['Year', 'City', 'Sport']

In [8]:
col=summer_olmypic_data_csv.columns[:3].to_list()+["Gender","Event"]
col

['Year', 'City', 'Sport', 'Gender', 'Event']

In [9]:
summer_olmypic_data_csv.loc[:,col]

       Year    City      Sport Gender                       Event
0      1896  Athens   Aquatics    Men              100M Freestyle
1      1896  Athens   Aquatics    Men              100M Freestyle
2      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
3      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
4      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
...     ...     ...        ...    ...                         ...
31160  2012  London  Wrestling    Men                    Wg 84 KG
31161  2012  London  Wrestling    Men                    Wg 96 KG
31162  2012  London  Wrestling    Men                    Wg 96 KG
31163  2012  London  Wrestling    Men                    Wg 96 KG
31164  2012  London  Wrestling    Men                    Wg 96 KG

[31165 rows x 5 columns]

In [10]:
summer_olmypic_data_csv.loc[:,col+['Athlete']]

,Year,City,Sport,Gender,Event,Athlete
0,1896,Athens,Aquatics,Men,100M Freestyle,"HAJOS, Alfred"
1,1896,Athens,Aquatics,Men,100M Freestyle,"HERSCHMANN, Otto"
2,1896,Athens,Aquatics,Men,100M Freestyle For Sailors,"DRIVAS, Dimitrios"
3,1896,Athens,Aquatics,Men,100M Freestyle For Sailors,"MALOKINIS, Ioannis"
4,1896,Athens,Aquatics,Men,100M Freestyle For Sailors,"CHASAPIS, Spiridon"
...,...,...,...,...,...,...
31160,2012,London,Wrestling,Men,Wg 84 KG,"JANIKOWSKI, Damian"
31161,2012,London,Wrestling,Men,Wg 96 KG,"REZAEI, Ghasem Gholamreza"
31162,2012,London,Wrestling,Men,Wg 96 KG,"TOTROV, Rustam"
31163,2012,London,Wrestling,Men,Wg 96 KG,"ALEKSANYAN, Artur"
31164,2012,London,Wrestling,Men,Wg 96 KG,"LIDBERG, Jimmy"

In [11]:
summer_olmypic_data_csv.loc[[200,300],['Athlete','Event']]

                      Athlete        Event
200               KEMP, Peter   Water Polo
300  SHELDON, Lewis Pendleton  Triple Jump